@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    
     margin: 0; /*this guys will be applicable to all the html elements*/
     padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: black;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: hotpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}
.navbar a {
    font-size: 18px;
    color: ghostwhite;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.active